<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/BasicUI" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:allow-navigation>https://ah-t.de</tizen:allow-navigation>
    <tizen:application id="8jE0ngjhvy.BasicUI" package="8jE0ngjhvy" required_version="4.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <feature name="http://tizen.org/feature/network.wifi"/>
    <feature name="http://tizen.org/feature/sensor.accelerometer"/>
    <feature name="http://tizen.org/feature/sensor.heart_rate_monitor"/>
    <feature name="http://tizen.org/feature/sensor.heart_rate_monitor.led_green"/>
    <feature name="http://tizen.org/feature/sensor.heart_rate_monitor.led_ir"/>
    <feature name="http://tizen.org/feature/sensor.heart_rate_monitor.led_red"/>
    <feature name="http://tizen.org/feature/sensor.wrist_up"/>
    <icon src="icon.png"/>
    <name>BasicUI</name>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
</widget>
